.Admin

  .Admin__courses
    - courses.each do |course|
      .Admin__course
        = course.title
      - if course.published?
        .Badge.Badge__success
          | Published
      - else
        .Badge.Badge__gray
          | Draft
